div .rand {
    align-self: center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.caixa {
    width: 50%;
    height: 50px;
    background-color: grey;
    border: black 1px;
    border-radius: 100%;
}

img {
    position: absolute;
    height: 500px;
}